@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration-line: none;
}

nav a:hover{
    color: white;
}

nav a:hover img{
    filter: invert(100%);
}

body{
    background: url(Background/BackgroundImage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-position: bottom;
}
header section{
    background-color: blueviolet;
    width: 100vw;
    height: 50px;
}
header h1{
    margin: auto;
    width: 52vw;
    padding-top: 30px;
}

nav:first-of-type{
    top: 0;
    position: sticky;
    margin-inline: auto;
    width: 63vw;
    margin-bottom: 10px;
    background-color: #793d9a;
}

nav a{
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    color: black;
    padding-inline: 10px;
    border-right: solid;
    border-color: violet;
    border-width: 1px;
}
nav a img{
    margin-bottom: -6px;
}
nav input{
    width: 250px;
    height: 25px;
    font-size: 16px;
    border-right: solid;
    border-color: violet;
    border-width: 1px;
    margin-left: -6px;
}

nav a:last-of-type{
    border: none;
    margin: 0;
    padding: 0;
}
nav .middle{
    margin-left: 700px;
    border-left: solid;
    border-color: violet;
    border-width: 1px;
}

main{
    width: 52vw;
    margin-inline: auto;
    text-align: center;
    background-color: white;
    margin-bottom: 50px;
}

main article h2{
    color: black;
    font-weight: bold;
}

main article{
    padding-block: 20px;
}
main a:hover article{
    background-color: #b536a0;
    cursor: pointer;
}

a:hover h2{
    color: white;
}